services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    ports:
    - 8096:8096
    devices:
    - /dev/dri:/dev/dri
    volumes:
    - ./config:/config
    - ./cache:/cache
    - /data/MP4s:/media
    - type: bind
      source: ./media
      target: /media2
      read_only: true
    - type: bind
      source: ./fonts
      target: /usr/local/share/fonts/custom
      read_only: true
    restart: unless-stopped
    networks:
    - frontend
    environment:
    - JELLYFIN_PublishedServerUrl=https://jellyfin.medion.lr-projects.de
    deploy:
      resources:
        reservations:
          devices:
          - driver: nvidia
            count: all
            capabilities:
            - gpu
          cpus: '1'
          memory: 1.5G
        limits:
          cpus: '1.5'
          memory: 2G
    extra_hosts:
    - host.docker.internal:host-gateway
    labels:
    - traefik.enable=true
    - traefik.docker.network=frontend
    - traefik.http.routers.jellyfin.rule=Host(`jellyfin.medion.lr-projects.de`)
    - traefik.http.routers.jellyfin.entrypoints=websecure
    - traefik.http.routers.jellyfin.tls=true
    - traefik.http.routers.jellyfin.tls.certresolver=cloudflare
    - traefik.http.routers.jellyfin.service=jellyfin-svc
    - traefik.http.services.jellyfin-svc.loadbalancer.server.port=8096
    - traefik.docker.network=frontend
    - traefik.http.routers.jellyfin.middlewares=jellyfin-mw
    - traefik.http.middlewares.jellyfin-mw.headers.customResponseHeaders.X-Robots-Tag=noindex,nofollow,nosnippet,noarchive,notranslate,noimageindex
    - traefik.http.middlewares.jellyfin-mw.headers.SSLRedirect=true
    - traefik.http.middlewares.jellyfin-mw.headers.SSLHost=jellyfin.medion.lr-projects.de
    - traefik.http.middlewares.jellyfin-mw.headers.SSLForceHost=true
    - traefik.http.middlewares.jellyfin-mw.headers.STSSeconds=315360000
    - traefik.http.middlewares.jellyfin-mw.headers.STSIncludeSubdomains=true
    - traefik.http.middlewares.jellyfin-mw.headers.STSPreload=true
    - traefik.http.middlewares.jellyfin-mw.headers.forceSTSHeader=true
    - traefik.http.middlewares.jellyfin-mw.headers.frameDeny=true
    - traefik.http.middlewares.jellyfin-mw.headers.contentTypeNosniff=true
    - traefik.http.middlewares.jellyfin-mw.headers.customresponseheaders.X-XSS-PROTECTION=1
    - traefik.http.middlewares.jellyfin-mw.headers.customFrameOptionsValue='allow-from
      https://jellyfin.medion.lr-projects.de'
    - traefik.http.services.jellyfin-svc.loadBalancer.server.port=8096
    - traefik.http.services.jellyfin-svc.loadBalancer.passHostHeader=true
    - com.centurylinklabs.watchtower.enable=true
    annotations:
    - de.lr-projects.description=Movie storage
    - de.lr-projects.sso=true
networks:
  frontend:
    external: true
