services:
  traefik:
    image: traefik:v3
    container_name: traefik
    restart: always
    env_file: .env
    ports:
      - 443:443
      - 80:80
    networks:
      - backend
    dns:
      - 172.20.0.100
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    volumes:
      - ./traefik.yml:/etc/traefik/traefik.yaml:ro
      - ./dynamic:/etc/traefik/dynamic
      - ./certificates:/etc/traefik/certificates
      - ./traefik-logs:/logs

  crowdsec:
    image: crowdsecurity/crowdsec:latest
    container_name: crowdsec
    restart: unless-stopped
    env_file: .env
    dns:
      - 172.20.0.100
    networks:
      - backend
    environment:
      - BOUNCER_KEY_TRAEFIK=$CROWDSEC_BOUNCER_API_KEY
      - COLLECTIONS=crowdsecurity/traefik crowdsecurity/appsec-virtual-patching crowdsecurity/appsec-generic-rules
    volumes:
      - ./crowdsec/data:/var/lib/crowdsec/data
      - ./crowdsec/etc:/etc/crowdsec
      - ./traefik-logs:/var/log/traefik:ro
      - ./crowdsec/acquis.yaml:/etc/crowdsec/acquis.yaml:ro

networks:
  backend:
    external: true
    ipam:
      config:
        - subnet: 172.20.0.0/16
