# traefik.yml (static configuration)
entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: ":443"
    http:
      middlewares:
        - crowdsec@file
    forwardedHeaders:
      trustedIPs:
        - "127.0.0.1/32"
        - "10.217.236.0/24"

providers:
  file:
    directory: /etc/traefik/dynamic
    watch: true

log:
  level: DEBUG
  filepath: /logs/traefik.log

accesslog:
  filepath: /logs/access.log
  


certificatesResolvers:
  cloudflare:
    acme:
      email: lukasr101@proton.me
      storage: /etc/traefik/certificates/cloudflare-acme.json
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - "1.1.1.1:53"
          - "8.8.8.8:53"
        delayBeforeCheck: 0
experimental:
  plugins:
    traefik-oidc-auth:
      moduleName: "github.com/sevensolutions/traefik-oidc-auth"
      version: "v0.16.0"
    bouncer:
      moduleName: github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
      version: "v1.4.6"
