services:
  reverse-proxy:
    image: traefik:v3
    container_name: traefik
    ports:
      - "80:80"
      - "443:443"
    env_file: .env
    labels:
      - traefik.enable=true
      - traefik.docker.network=frontend
      - traefik.http.routers.traefik-dash.rule=Host(`traefik.thinkpad.lr-projects.de`)
      - traefik.http.routers.traefik-dash.entrypoints=websecure
      - traefik.http.routers.traefik-dash.tls=true
      - traefik.http.routers.traefik-dash.tls.certresolver=cloudflare
      - traefik.http.routers.traefik-dash.service=api@internal
      - traefik.http.services.api@internal.loadbalancer.server.port=8080
      - "com.centurylinklabs.watchtower.enable=true"
      - traefik.http.routers.traefik-dash.middlewares=oidc-auth@file
    annotations:
      - de.lr-projects.description=Traefik Reverse Proxy
      - de.lr-projects.sso=true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./config/traefik.yaml:/etc/traefik/traefik.yaml:ro
      - ./dynamic:/etc/traefik/dynamic:ro
      - ./certs:/var/traefik/certs
      - ./logs:/logs
    restart: unless-stopped
    networks:
      - frontend
      - influxdb-network
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M
networks:
  frontend:
    external: true
  influxdb-network:
    external: true
