global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s
scrape_configs:
  - job_name: adguard-medion
    static_configs:
      - targets: ['adguard-exporter:9617', 'dns-metrics.ionos.lr-projects.de']
