services:
  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    volumes:
    - ./config:/config
    - /etc/localtime:/etc/localtime:ro
    - /run/dbus:/run/dbus:ro
    - ./backup:/backup
    restart: unless-stopped
    privileged: true
    network_mode: host
    labels:
    - traefik.enable=true
    - traefik.http.routers.ha.rule=Host(`ha.thinkpad.lr-projects.de`)
    - traefik.http.routers.ha.entrypoints=websecure
    - traefik.http.routers.ha.tls=true
    - traefik.http.routers.ha.tls.certresolver=cloudflare
    - traefik.http.services.ha.loadbalancer.server.port=8123
    - com.centurylinklabs.watchtower.enable=true
    annotations:
    - de.lr-projects.description=Home automation platform
    - de.lr-projects.sso=true
    deploy:
      resources:
        limits:
          cpus: '1.5'
          memory: 1G
        reservations:
          cpus: '1'
          memory: 768M
  mariadb:
    image: mariadb:10.11
    container_name: mariadb
    restart: unless-stopped
    env_file: .env
    volumes:
    - ./mariadb:/var/lib/mysql
    ports:
    - 3306:3306
    annotations:
    - de.lr-projects.description=MariaDB database for Home Assistant
    deploy:
      resources:
        limits:
          cpus: '0.75'
          memory: 512M
        reservations:
          cpus: '0.5'
          memory: 256M
