services:
  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    volumes:
      - ./config:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
      - ./backup:/backup
    restart: unless-stopped
    privileged: true
    network_mode: host
    labels:
      - traefik.enable=true
      - traefik.http.routers.ha.rule=Host(`ha.thinkpad.lr-projects.de`)
      - traefik.http.routers.ha.entrypoints=websecure
      - traefik.http.routers.ha.tls=true
      - traefik.http.routers.ha.tls.certresolver=cloudflare
      - traefik.http.services.ha.loadbalancer.server.port=8123
      - "com.centurylinklabs.watchtower.enable=true"

  mariadb:
    image: mariadb:10.11
    container_name: mariadb
    restart: unless-stopped
    env_file: .env
    volumes:
      - ./mariadb:/var/lib/mysql
    ports:
      - "3306:3306"