services:
  adguardhome-ionos:
    image: adguard/adguardhome
    container_name: adguardhome
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    volumes:
      - ./workdir:/opt/adguardhome/work
      - ./confdir:/opt/adguardhome/conf
    restart: unless-stopped
    networks:
      backend:
        ipv4_address: 172.20.0.100
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  adguard-exporter:
    image: ebrianne/adguard-exporter:latest
    container_name: adguard_exporter
    restart: unless-stopped
    dns:
      - 172.20.0.100
    networks:
      - backend
    env_file: .env
  
networks:
  backend:
    external: true
    ipam:
      config:
        - subnet: 172.20.0.0/16
  adguard: