services:
  adguardhome-ionos:
    image: adguard/adguardhome
    container_name: adguardhome
    ports:
    - 53:53/tcp
    - 53:53/udp
    annotations:
    - de.lr-projects.description=DNS for home network
    - de.lr-projects.sso=false
    volumes:
    - ./workdir:/opt/adguardhome/work
    - ./confdir:/opt/adguardhome/conf
    restart: unless-stopped
    networks:
      backend:
        ipv4_address: 172.20.0.100
    labels:
    - com.centurylinklabs.watchtower.enable=true
    deploy:
      resources:
        limits:
          cpus: '0.4'
          memory: 256M
        reservations:
          cpus: '0.2'
          memory: 128M
  adguard-exporter:
    image: ebrianne/adguard-exporter:latest
    container_name: adguard_exporter
    restart: unless-stopped
    dns:
    - 172.20.0.100
    networks:
    - backend
    env_file: .env
    annotations:
    - de.lr-projects.description=AdGuard Home metrics exporter
    - de.lr-projects.sso=false
    deploy:
      resources:
        limits:
          cpus: '0.1'
          memory: 128M
networks:
  backend:
    external: true
    ipam:
      config:
      - subnet: 172.20.0.0/16
  adguard: null
