# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "4080:80"
    env_file: .env
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    environment:
      TZ: 'Europe/Berlin'
      FTLCONF_dns_listeningMode: 'all'
      FTLCONF_webserver_api_password: ${API_PSW}
    volumes:
      - './etc-pihole:/etc/pihole'
      - './etc-dnsmasq.d:/etc/dnsmasq.d'
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_TIME
      - SYS_NICE
    networks:
      backend:
        ipv4_address: 172.20.0.100

  pihole-influxdb:
    image: avojak/pihole-influxdb:latest
    container_name: pihole-influxdb
    restart: unless-stopped
    networks:
      - backend
    dns:
      - 172.20.0.100
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    depends_on:
      - pihole
    env_file: .env
    environment:
      - "PIHOLE_ALIAS=pihole-ionos"
      - "PIHOLE_ADDRESS=http://pihole:80"
      - "PIHOLE_PASSWORD=${API_PSW}"
      - "PIHOLE_NUM_TOP_ITEMS=25"
      - "PIHOLE_NUM_TOP_CLIENTS=25"
      - "INFLUXDB_ADDRESS=https://influx.medion.lr-projects.de"
      - "INFLUXDB_ORG=lr-projects"
      - "INFLUXDB_TOKEN=${INFLUXDB_TOKEN}"
      - "INFLUXDB_BUCKET=pihole"


networks:
  backend:
    external: true
    ipam:
      config:
        - subnet: 172.20.0.0/16
