name: immich
services:
  immich-server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:release
    extends:
      file: hwaccel.transcoding.yml
      service: nvenc
    volumes:
    - ${UPLOAD_LOCATION}:/usr/src/app/upload
    - /etc/localtime:/etc/localtime:ro
    env_file:
    - .env
    depends_on:
    - redis
    - database
    restart: always
    labels:
    - traefik.enable=true
    - traefik.docker.network=frontend
    - traefik.http.routers.immich.rule=Host(`immich.medion.lr-projects.de`)
    - traefik.http.routers.immich.entrypoints=websecure
    - traefik.http.routers.immich.tls=true
    - traefik.http.routers.immich.tls.certresolver=cloudflare
    - traefik.http.routers.immich.service=immich-scv
    - traefik.http.services.immich-scv.loadbalancer.server.port=2283
    - traefik.docker.network=frontend
    - com.centurylinklabs.watchtower.enable=true
    annotations:
    - de.lr-projects.description=Image storage
    - de.lr-projects.sso=true
    healthcheck:
      disable: false
    networks:
    - immich
    - frontend
    deploy:
      resources:
        limits:
          cpus: '2.5'
          memory: 3G
        reservations:
          cpus: '1.5'
          memory: 2G
  immich-machine-learning:
    container_name: immich_machine_learning
    image: ghcr.io/immich-app/immich-machine-learning:release
    volumes:
    - model-cache:/cache
    env_file:
    - .env
    restart: always
    labels:
    - com.centurylinklabs.watchtower.enable=true
    annotations:
    - de.lr-projects.description=Image ML processing
    - de.lr-projects.sso=false
    healthcheck:
      disable: false
    networks:
    - immich
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 2G
        reservations:
          cpus: '0.5'
          memory: 1G
  redis:
    container_name: immich_redis
    image: docker.io/valkey/valkey:8-bookworm
    labels:
    - com.centurylinklabs.watchtower.enable=true
    annotations:
    - de.lr-projects.sso=false
    healthcheck:
      test: redis-cli ping || exit 1
    restart: always
    networks:
    - immich
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
  database:
    container_name: immich_postgres
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0
    labels:
    - com.centurylinklabs.watchtower.enable=true
    annotations:
    - de.lr-projects.sso=false
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_DB: ${DB_DATABASE_NAME}
      POSTGRES_INITDB_ARGS: --data-checksums
    volumes:
    - ${DB_DATA_LOCATION}:/var/lib/postgresql/data
    shm_size: 128mb
    restart: always
    networks:
    - immich
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 1G
        reservations:
          cpus: '0.5'
          memory: 512M
  immich-kiosk:
    image: ghcr.io/damongolding/immich-kiosk:latest
    container_name: immich-kiosk
    tty: true
    env_file: kiosk.env
    networks:
    - immich
    - frontend
    labels:
    - traefik.enable=true
    - traefik.docker.network=frontend
    - traefik.http.routers.immich-kiosk.rule=Host(`diashow.medion.lr-projects.de`)
    - traefik.http.routers.immich-kiosk.entrypoints=websecure
    - traefik.http.routers.immich-kiosk.tls=true
    - traefik.http.routers.immich-kiosk.tls.certresolver=cloudflare
    - traefik.http.routers.immich-kiosk.service=immich-kiosk-scv
    - traefik.http.services.immich-kiosk-scv.loadbalancer.server.port=3000
    - traefik.docker.network=frontend
    - com.centurylinklabs.watchtower.enable=true
    annotations:
    - de.lr-projects.description=Diashow for digital picture frame
    - de.lr-projects.sso=true
    volumes:
    - ./config:/config
    restart: always
    healthcheck:
      test:
      - CMD
      - curl
      - -f
      - http://localhost:3000/health
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
volumes:
  model-cache: null
networks:
  frontend:
    external: true
  immich: null
